    .container__contato {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        background: rgba(255, 255, 255, 0.815); 
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    h2 {
        text-align: center;
        color: #333;
    }
    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: #333;
    }
    input, select, textarea {
        width: 97%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }
    button {
        width: 100%;
        padding: 10px;
        background: #333;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
        transition: background 0.3s ease;
    }
   

    @media (max-width: 768px) {
        .container__contato {
            width: 90%;
            padding: 15px;
        }
    }