html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #000000;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    overflow: auto;
    overflow-x: hidden;
}

/* Estilos para o Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.815); /* Opacidade ajustada */
}

/* Estilos para a Imagem */
header img {
    margin: 20px 0;
    width: 400px;
    padding: 5px;
}

/* styles/style.css */

/* Seção Hero */
.hero {
    height: 55vh;
    background-image: url('../assets/background_main.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sobreposição escura para melhorar a legibilidade */
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Ajuste conforme necessário */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Gradiente para o fade out */
    pointer-events: none; /* Para não interferir na interação com o conteúdo */
}

.hero-content {
    z-index: 1;
    opacity: 0;
    animation: fadeInText 2s 1.5s forwards; /* Animação do texto */
}

.hero h1 {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    letter-spacing: 2px;
}

.hero p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1rem;
}


/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Estilos para o Menu */

nav.menu {
    position: fixed;
    top: 0;
    height: 22%;
    left: -250px; /* Menu começa fora da tela */
    width: 250px;
    background: rgba(255, 255, 255, 0.815);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    transition: left 0.3s ease-in-out; /* Transição suave */
    z-index: 9999;
}

/* Menu aberto */
nav.menu.open {
    left: 0; /* Quando o menu estiver aberto, ele vem para dentro da tela */
    height: 22%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Garante que o conteúdo ocupe toda a largura do menu */
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 20px;
    transition: color 0.3s ease, transform 0.2s ease;
    display: block; /* Garante que os links ocupem toda a largura disponível */
}

.menu a:hover {
    color: #6a8cc2;
    transform: scale(1.1);
}

.hamburger {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 10000; /* Garante que o botão fique acima do menu */
    
}


/* Estilos para a área principal (container) */
.container {
    flex: 1;
    justify-content: center;
    padding-bottom: 50px;
}

section {
    display: flex;
    justify-content: center;
}

/* Estilos para o Swiper (carrossel de imagens) */
.swiper {
    display: flex;
    width: 80%;
    padding: 20px 0;
    margin: 20px 0 0 0;
    position: relative;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    transition: transform 0.3s ease;
}

.swiper-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

/* Estilos para os descritivos */
.descritivos {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    margin-bottom: 50px;
    max-width: 800px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

/* Garantindo que a seção toda fique bem alinhada */
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    margin-top: -75px;
}

/* Estilos para o título */
.section-title {
    font-size: 43px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 80px; /* Aumenta a separação entre título e fotos */
}

/* Seção principal */
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    margin-top: -75px;
}


/* Seção principal */
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}


/* Container principal da equipe */
.crew {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Layout flexível para as fotos */
.fotos {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 900px;
}

/* Ajustes individuais das fotos */
.foto {
    text-align: center;
    max-width: 400px;
}

.foto img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 0 35px rgba(173, 216, 230, 1), 0 0 80px rgba(100, 149, 237, 0.8), 0 0 120px rgba(29, 97, 153, 0.6);
    animation: pulse 2s infinite ease-in-out;
}

.foto h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}

.foto p {
    padding: 0 20px;
    font-size: 17px;
    color: #ffffff;
    line-height: 25px;
    letter-spacing: 1px;
}

/* Animação do brilho */
@keyframes pulse {
    0% {
        box-shadow: 0 0 35px rgba(173, 216, 230, 1), 0 0 80px rgba(100, 149, 237, 0.8), 0 0 120px rgba(70, 130, 180, 0.6);
    }
    50% {
        box-shadow: 0 0 80px rgba(173, 216, 230, 1), 0 0 180px rgba(100, 149, 237, 1), 0 0 250px rgba(70, 130, 180, 1);
    }
    100% {
        box-shadow: 0 0 35px rgba(173, 216, 230, 1), 0 0 80px rgba(100, 149, 237, 0.8), 0 0 120px rgba(70, 130, 180, 0.6);
    }
}

/* 🌍 Responsividade: Ajuste para telas pequenas */
@media (max-width: 768px) {
    .fotos {
        flex-direction: column; /* Empilha as fotos no celular */
        align-items: center;
        gap: 30px;
    }
}

/* Estilos para o Footer */
footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.56);
    color: #fff;
    font-size: 14px;
}

/* =================== RESPONSIVIDADE =================== */

/* Telas até 1024px */
@media (max-width: 1024px) {
    .hamburger {
        display: block;
        padding: 20px;        
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu ul {
        
        flex-direction: column;
        margin: 5px 0;
        padding: 0 0 25px 0;
        text-align: center;
    }

    .menu ul.open {
        display: flex;
    }

    .menu a {
        padding: 10px;
        color: #000;
        font-size: 18px;
    }

    .descritivos {
        margin: 50px 0;
        font-size: 25px;
    }

    .swiper {
        width: 95%;
    }
}

/* Telas entre 769px e 1023px */
@media (min-width: 769px) and (max-width: 1023px) {
    .swiper {
        width: 90%;
    }

    .menu ul {
        gap: 30px;
    }

    .descritivos {
        max-width: 90%;
        margin: 25px 0;
        font-size: 18px;
    }

    footer {
        font-size: 12px;
        padding: 8px;
        position: relative;
    }
}

/* Telas até 768px */
@media (max-width: 768px) {
    header img {
        width: 300px;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .swiper-slide img {
        height: 250px;
    }

    .descritivos {
        max-width: 90%;
        margin: 25px 0;
        font-size: 14px;
    }

    footer {
        font-size: 12px;
        padding: 8px;
        position: relative;
    }
}

/* Telas até 640px */
@media (max-width: 640px) {
    .fotos img {
        margin-bottom: 15px;
    }
}

/* Telas até 430px */
@media (max-width: 430px) {
    header {
        height: auto;
        padding: 10px;
    }

    .hero {
        margin: 0;
        padding: 20px 20px 0;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 20px;
    }

    header img {
        width: 250px;
    }

    section {
        margin: 0 15px;
    }

    .menu ul {
        gap: 10px;
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide img {
        height: 200px;
    }

    .descritivos {
        font-size: 20px;
    }
}

/* Telas até 390px */
@media (max-width: 390px) {
    .hero {
        height: 47vh;
        padding: 0 20px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
        margin: 15px 0;
    }
}

/* Ajuste para imagens em telas menores */
@media (max-width: 768px) {
    .fotos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fotos img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
}

/* Responsividade para rotação de tela */
@media (orientation: landscape) and (max-height: 500px) {
    .hero {
        height: 40vh;
        padding: 10px;
    }

    .hero h1 {
        font-size: 45px;
        padding-top: 30px;
    }

    .hero p {
        font-size: 18px;
    }

    .menu ul {
        flex-direction: row;
        justify-content: center;
    }
}

/* =================== ANIMAÇÕES =================== */

/* Animação de Fade-in para o conteúdo geral */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animação para as imagens, elas entram da esquerda para a direita */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Aplicando a animação de fade-in para o corpo da página */
body {
    animation: fadeIn 1s ease-out forwards;
    overflow: scroll; /* Evita que o conteúdo saia da tela durante a animação */
    overflow-x: hidden;
}

/* Aplicando a animação para as imagens */
.fotos img {
    animation: slideInLeft 1s ease-out forwards;
    opacity: 0; /* Inicialmente as imagens começam invisíveis */
}

/* Outros elementos podem ter a animação de fade-in */
h1, p {
    animation: fadeIn 1s ease-out forwards;
    
}


